.nav {
    height: 10vh;
    width: 100vw;
    background-color: rgb(219, 234, 234);
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
}
 
.logo {
     width: 40px;
     height: 40px;
     cursor: pointer;
     box-shadow: 2px 2px 10px rgb(24, 24, 24);
     border-radius: 30%;
}
 
.navitems1 ,.navitems2{
     display: flex;
     gap: 20px; 
     align-items: center;
}

.navitem {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.navitem p {
    color: black;
    font-size: 1rem;
    margin: 5px 0 0 0; 
    text-align: center;
}
 
.home-con
{
    display: flex;
    position: relative;
}


.search{
    position: absolute;
    left:40%;
    top:2%;
}

.search input{
    width:17vw;
    height:6vh;
    padding-left:15px ;
    border: 1px solid #7064e5;
    border-radius: 6px;  
    font-size: 1.3rem;
}

.filterbox
{
    width:240px;
    height:320px;
    background-color: rgb(210, 228, 244);
    border-radius: 0% 5% 5% 0%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    left:0;
    top:31%;
    position: fixed;
    gap:-10px;
    flex-wrap: wrap;
    box-sizing:border-box;
}

.range
{
    height: 5px;
    width: 80%;
}

.items-con
{
    width:80vw;
    display: inline-block;
    margin-left:18%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;  
}

.item-card
{
    width: 17vw;
    height: 55vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    margin: 20px;
    margin-top:0px;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(64, 77, 148, .4);
}

.item-img{
  position: absolute;
  width:90%;
  height:60%;
  left:22px;
  top:20px;
  border-radius: 5%;
  
}

.item-img img{
    width:90%;
    height:100%;
    left:12px;
    top:20px;
}

.title{
  position: absolute;
  left:12px;
  top:63%;
  height:17%;
  z-index: 1;
  overflow: hidden;
}
.price{
  position: absolute;
  left:12px;
  top:82%;
}
.cart-price
{
    position:absolute;
    top:80%;
    left:12px;
    display: flex;
    flex-wrap: wrap;
}

.quantity
{
    position: absolute;
    left:170px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.inc,.dec
{
    margin-top: 10px;
    width:30px;
    height:30px;
    cursor: pointer;
}

.inc{
    position: absolute;
    left:130px;
}

.dec{
    position: absolute;
    left:195px;
}

.cart-btn{
  position: absolute;
  background-color: #7064e5;
  width:90%;
  height:8%;
  font-size: 1.2rem;
  top:90%;
  right:14px;
  border: 1px solid #7064e5;
  border-radius: 6px; 
}

.cart-btn:hover{
    background-color: white;
    border: 1px solid #7064e5;
    color: #7064e5;
    cursor: pointer;
}

.signin-con
{
    width: 100vw;
    height: 50vh;
    margin-top:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    position: relative;
}

.signin-con input
{
    width:16%;
    height:13%;
    padding-left:15px ;
    border: 1px solid #7064e5;
    border-radius: 6px;  
}

.signin-btn{
  position: absolute;
  background-color: #7064e5;
  width:17%;
  height:12%;
  font-size: 1.3rem;
  top:85%;
  border: 1px solid #7064e5;
  border-radius: 6px; 
}

.signup-btn{
  position: absolute;
  background-color: #7064e5;
  width:17%;
  height:12%;
  font-size: 1.3rem;
  top:95%;
  border: 1px solid #7064e5;
  border-radius: 6px; 
}

.signup
{
    position: absolute;
    top:94%;
    cursor: pointer;
    left:42%; 
}

.signin-con h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(72, 69, 87);
    font-size: 2.4rem;
}

.signin-con h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(94, 94, 97);
}

.navlink
{
    text-decoration: none;
}

.cart-items
{
    width:80vw;
    display: inline-block;
    margin-left:18%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;  
  
}
.rmv-cart-btn
{
  position: absolute;
  background-color: #ff2448;
  width:90%;
  height:8%;
  font-size: 1.2rem;
  top:90%;
  right:14px;
  border: 1px solid #100f17;
  border-radius: 6px; 
}


.rmv-cart-btn:hover{
    background-color: white;
    border: 1px solid #ff2448;
    color: #ff2448;
    cursor: pointer;
}
.tot-con
{
    width:190px;
    height:140px;
    background-color: rgb(210, 228, 244);
    border-radius: 5%;
    display: flex;
    padding-top: 10px;
    align-items:center;
    flex-direction: column;
    left:5px;;
    top:21%;
    position: fixed;
}
.purchase-btn
{
    background-color: #7064e5;
    width:55%;
    height:20%;
    font-size: 1.1rem;
    top:95%;
    border: 1px solid #7064e5;
    border-radius: 6px; 
    cursor: pointer;
}

.Orders
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.order-table
{
    width: 50vw;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #f4f4f4;
}
.order-table th,
.order-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.category-section
{
    font-size: 1.2rem;
    margin-top: -35px;
    position: relative;
    left:-10px;
    padding-top:35px;
}

